body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

div#debug {
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
}